.modal {
  position: fixed;
  width: 600px;
  height: 750px;
  top: 80px;
  left: calc(50% - 300px);
  bottom: 50px;
  background-color: orange;
}

.modal-title {
  text-align: center;
  width: 100%;
}

.content {
  column-count: 2;
}

.green {
  color: #04aa6d;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
